header {
  width: 100%;
  height: 80vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
  z-index: -1;
}

.hero-logo {
  width: 50%;
  max-width: 600px;
}

/* Tablet */
@media (max-width: 1024px) {
  header {
    height: 90vh;
  }

  .hero-logo {
    width: 60%;
  }
}

/* Tablet pequeño */
@media (max-width: 768px) {
  header {
    height: 60vh;
  }

  .hero-logo {
    width: 70%;
  }
}

/* Mobile */
@media (max-width: 600px) {
  header {
    height: 90vh;
  }

  .hero-logo {
    width: 80%;
  }
}
